body {
            background-image: url('../images/fondo_pantalla2.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            margin: 0;

}


.form-container {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 0 auto; 
}


.form-cajita {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none; 
    padding: 0;
    padding-right: 30px;
}
.product-item {
    flex: 0 0 calc(33.3333% - 20px); 
    margin: 70px;
    text-align: center;
    }

.btn-custom-pink {
    background-color: rgb(230, 60, 165);
    border-color: rgb(230, 60, 165);
    color: white;
}

#image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px; 
    overflow: hidden;
}
.image-with-transition {
    transform: translateX(0); 
    transition: transform 1s ease-in-out;
    margin: 0 10px;
    height: 100%;
    object-fit: cover;
}

.image-wrapper {
    display: flex;
    height: 300px;
    overflow: visible;
}

.image-with-transition {
    flex: 0 0 auto;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
    margin: 0 10px;
    border:  3px solid white;
    padding: 10px;
    border-radius: 5px;
}

.image-with-transition img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-logout{
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.image-with-transition:hover {
    transform: scale(1.5); 
}

.product-item img {
    border-radius: 10%; 
    border: 2px solid white;
    margin: 0 auto;
    padding: 10px;
}

.product-img {
    border-radius: 10%;
    border: 2px solid white;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.header-title {
    font-family: 'Pacifico', sans-serif;
    font-size: 2.5em; 
    color: #e6119f; 
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8); 
    font-weight: bold;
    
}

@media (max-width: 768px) {
    .form-cajita {
        width: 100%; 
    }

    .product-item {
        flex: 0 0 calc(50% - 20px); 
        margin: 10px; 
    }

    .form-container {
        width: 80%; 
    }
}
