{% extends "base_generic.html" %}

{% block title %}
    <title>Facturación</title>
{% endblock %}
{% block content %}
{% load static %}
<br>
<br>
<div class="form-container">
    <center><h1><u>Facturación:</u></h1></center>

    <h3>Detalles del Carrito:</h3>
    <p>Cliente: {{ carrito.cliente.id_user.username }}</p>
    <p>Dirección: {{ carrito.cliente.direccion }}</p>
    <p>Código Postal: {{ carrito.cliente.codigo_postal }}</p>
    <p>Teléfono: {{ carrito.cliente.telefono }}</p>

    <h3>Elementos del Carrito:</h3>
    <ul>
        {% for item in carrito.itemcarrito_set.all %}
        <li>{{ item.producto.nombre_producto }} - Cantidad: {{ item.cantidad }}</li>
        {% endfor %}
    </ul>

    <p>Total del Carrito: {{ total_carrito }}€</p>
    <p>Medio de Entrega: {{ medio_entrega.entrega }} - Costo: {{ medio_entrega.precio }}€</p>

    <form method="post" action="{% url 'facturacion' %}">
        {% csrf_token %}
        <!-- Campos de información de facturación -->
        <label for="{{ form.numero_tarjeta.id_for_label }}">Número de Tarjeta:</label>
        {{ form.numero_tarjeta }}
        
        <label for="{{ form.vencimiento_tarjeta.id_for_label }}">Vencimiento de la Tarjeta:</label>
        {{ form.vencimiento_tarjeta.as_widget }}
        
        <label for="{{ form.cvv_tarjeta.id_for_label }}">CVV de la Tarjeta:</label>
        {{ form.cvv_tarjeta }}
        
        <!-- Otros campos del formulario aquí -->

        <button type="submit">Procesar Facturación</button>
    </form>

    {% if message == 1 %}
        <p class="text-success">Facturación realizada con éxito</p>
    {% endif %}

    </div>
</div>
<br>
<br>
{% endblock %}
