{% extends "base_generic.html" %}

{% block title %}
    <title>Facturación</title>
{% endblock %}

{% block content %}
{% load static %}
<br>
<br>
<div class="form-container">
    <center><h1><u>Facturación:</u></h1></center>

    <h3>Detalles del Carrito:</h3>
    <p>Cliente: {{ carrito.cliente.id_user.username }}</p>
    <p>Dirección: {{ carrito.cliente.direccion }}</p>
    <p>Código Postal: {{ carrito.cliente.codigo_postal }}</p>
    <p>Teléfono: {{ carrito.cliente.telefono }}</p>

    <h3>Elementos del Carrito:</h3>
    <ul>
        {% for item in carrito.itemcarrito_set.all %}
            <li>{{ item.producto.nombre_producto }} - Cantidad: {{ item.cantidad }}</li>
        {% endfor %}
    </ul>

    <p>Total del Carrito (incluyendo envío): {{ total_carrito }}€</p>

    {% if total_carrito > 50 %}
        {% if request.user.cliente.usuario_premium %}
            <p><strong>¡Entrega Premium en 2 días!</strong></p>
        {% else %}
            <p><strong>Entrega en 3 días</strong></p>
        {% endif %}
    {% else %}
        <p><strong>Entrega en 5 días</strong></p>
    {% endif %}

    <p><strong>Medio de Entrega:</strong> {{ medio_entrega.entrega }} - Costo: {{ medio_entrega.precio }}€</p>

    <h3>Datos bancarios:</h3>
    <form method="post" action="{% url 'facturacion' %}">
        {% csrf_token %}
        <!-- Campos de información de facturación -->
        <label for="{{ form.numero_tarjeta.id_for_label }}" class="btn btn-primary">Número de Tarjeta:</label>
        {{ form.numero_tarjeta }}
        <br>
        <br>
        <label for="{{ form.vencimiento_tarjeta.id_for_label }}" class="btn btn-primary">Vencimiento de la Tarjeta:</label>
        {{ form.vencimiento_tarjeta.as_widget }}
        <br>
        <br>
        <label for="{{ form.cvv_tarjeta.id_for_label }}" class="btn btn-primary">CVV de la Tarjeta:</label>
        {{ form.cvv_tarjeta }}
        
        <!-- Otros campos del formulario aquí -->
        <br>
        <br>
        <center><button type="submit" class="btn btn-primary">Procesar Facturación</button></center>
    </form>

    {% if message == 1 %}
        <p class="text-success">Facturación realizada con éxito</p>
    {% endif %}

</div>
<br>
<br>
<br>
<br>

{% endblock %}
