{% extends "base_generic.html" %}

{% block title %}
    <title>Pantalla principal TIENDA DE CHUCHES </title>
{% endblock %}


{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<br>
<br>
<div class="form-container">
    <div class="col-md-6 custom-image-container">
      <div class="h-100 p-5 border rounded-3">
          <p></p>
          <img src="{% static 'images/presentacion.png' %}" style="width: 80%;">
       
      </div>
    </div>
    <br>
</div>


<div class="form-container">
    <h2 style="text-shadow: 3px 3px 3px rgb(255, 255, 255);">Deseamos dar al cliente las mejores golosinas y variedad de dulces, acercarles a la cultura japonesa. Sorprenderles por su multitud de sabores que le entusiasmaran.
    Tenemos una gran variedad de productos de buena calidad de origen japones de alta calidad, al precio mas asequible del mercado.
    Para que tu y los tuyos podáis disfrutar en casa o con amigos los aromas y sabores de Japon.</h2>
    
    <a href="{% url 'productos' %}" class="btn btn-custom-pink">Ver productos</a>
<br>
<br>
<br>
<br>
<br>
</div>
<br>
<br>
<br>
{% endblock %}