{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% block title %} 
    <title>Registro</title>
{% endblock %}

{% block content %}
    {% if message == 1 %}
        <div class="alert alert-success text-center">
            <strong>Hemos recibido su solicitud</strong>
        </div>
    {% endif %}

    <br>
    <div class="form-container">
        <h1 class="title">Registro</h1>
        <form action="" method="post" class="form">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label_tag }} 
                       
                        {% if field.field.required %}<span class="required">*</span>{% endif %}
                    </label>
                    {{ field }}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if field.name == 'password1' %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="submit-button">
                <button type="submit" class="btn btn-primary btn-lg button">
                    <i class="fa fa-sign-in-alt"></i> Register
                </button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
{% endblock %}
