{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% block title %} 
    <title> Registro </title>
{% endblock %}

{% block content %}
    <br>
    <div class="form-container">
    <h1 class="title">Registro</h1>
    <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
            <br>
                {{ field }}
            {% endfor %}
        </div>
        <div class="submit-button">
            <button type="submit" class="btn btn-primary btn-lg button">
                <i class="fa fa-sign-in-alt"></i> Register
            </button>
        </div>
    </form>

    {% if message == 1 %}
        <p class="text-success">Hemos recibido su solicitud</p>
    {% endif %}
</div>
<br>
<br>
<br>
{% endblock %}
